[Unit]
Description=Elasticsearch Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ elasticsearch_exporter_user }}
Group={{ elasticsearch_exporter_group }}
ExecStart=/usr/local/bin/elasticsearch_exporter \
  --es.uri=http://localhost:{{ elasticsearch_http_port }} \
  --es.all \
  --es.indices \
  --es.indices_settings \
  --es.shards \
  --es.snapshots \
  --es.cluster_settings \
  --web.listen-address=0.0.0.0:{{ elasticsearch_exporter_port }} \
  --web.telemetry-path=/metrics
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=elasticsearch_exporter

[Install]
WantedBy=multi-user.target