# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template list
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#

# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ elasticsearch_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{ elasticsearch_node_name }}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ elasticsearch_data_path }}
#
# Path to log files:
#
path.logs: {{ elasticsearch_logs_path }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: {{ elasticsearch_bootstrap_memory_lock | lower }}
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the heap.
#
# ---------------------------------- Network -----------------------------------
#
# By default Elasticsearch is only accessible on localhost. Set a different
# address here to expose this node on the network:
#
network.host: {{ elasticsearch_bind_host }}
#
# By default Elasticsearch listens for HTTP traffic on the first free port it
# finds starting at 9200. Set a specific HTTP port here:
#
http.port: {{ elasticsearch_http_port }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when this node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
# discovery.seed_hosts: ["host1", "host2"]
#
# Bootstrap the cluster using an initial set of master-eligible nodes:
#
# cluster.initial_master_nodes: ["node-1", "node-2"]
#
# For more information, consult the discovery and cluster formation module documentation.
#
# Single node discovery
discovery.type: {{ elasticsearch_discovery_type }}

# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true

# ---------------------------------- Security ----------------------------------
#
# Disable security features
xpack.security.enabled: {{ elasticsearch_security_enabled | lower }}
xpack.security.enrollment.enabled: false

# Disable SSL
{% if not elasticsearch_ssl_enabled %}
xpack.security.http.ssl.enabled: false
xpack.security.transport.ssl.enabled: false
{% endif %}

# ---------------------------------- Monitoring -------------------------------
#
# Disable monitoring collection
xpack.monitoring.collection.enabled: false

# ---------------------------------- Thread Pool ------------------------------
#
# Thread pool settings for better performance
thread_pool.write.queue_size: {{ elasticsearch_thread_pool_write_queue_size }}
thread_pool.search.queue_size: {{ elasticsearch_thread_pool_search_queue_size }}

# ---------------------------------- Indices ----------------------------------
#
# Memory buffer size for indexing
indices.memory.index_buffer_size: {{ elasticsearch_indices_memory_index_buffer_size }}

# Default number of shards and replicas for new indices
index.number_of_shards: {{ elasticsearch_default_shards }}
index.number_of_replicas: {{ elasticsearch_default_replicas }}

# ---------------------------------- Logging ----------------------------------
#
# Log level
logger.root: {{ elasticsearch_log_level }}

# ---------------------------------- Custom Settings --------------------------
#
# Allow HTTP requests from any origin (for development/testing)
http.cors.enabled: true
http.cors.allow-origin: "*"
http.cors.allow-methods: OPTIONS, HEAD, GET, POST, PUT, DELETE
http.cors.allow-headers: X-Requested-With, Content-Type, Content-Length, Authorization